@charset "UTF-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
ol,ul,li{list-style: none;}
a{text-decoration: none; color: inherit;}
body{
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-family: "고딕";
}
#wrap{
    width: 100%;
    height: 920px;
}

.left{
    width: 200px;
    height: 800px;
    background-color: skyblue;
    float: left;
}

.logo{
    text-align: center;
    background-color: #fff; 
}
.logo a{
    display: inline-block;
    width: 171px;
    height: 115px;
}

.nav{}

.main{
    width: 180px;
    margin: 0 auto;
    margin-top: 20px;
}

.main>li{
    position: relative;
}

.main>li>a{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(160, 160, 253);
    text-align: center;
}

.main>li:hover>a{
    color: purple;
    background-color: #fff;
}
.main>li>a.on{
    color: purple;
    background-color: #fff;
}

.sub{
    background-color: rgb(125, 127, 248);
    width: calc(1920px - 190px);
    height: 200px;
    position: absolute;
    left: 180px;
    top: 140px;
    display: none;
    z-index: 10;
}

.sub >li>ul>li{
    display: inline-block;
}

.sub li a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.sub >li>ul>li>a:hover{
    color: purple;
    background-color: rgba(255,255,255,0.5);
}

.right{
    width: calc(100% - 200px);
    height: 800px;
    background-color: rgb(138, 212, 246);
    float: left;
}

.img_slide{
    width: 100%;
    height: 400px;
}

.move{
    width: 100%;
    height: 400px;
    position: relative;
}
.move li{
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
}
.move li a img{
    height: 100%;
    width: 100%;
}

.link{
    width: 100%;
    height: 150px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    
}

.link_list li{
    width: 100px;
    display: inline-block;
    margin: 0 40px;
}

.link_list li a img{
    display: block;
    width: 100px;
    height: 100px;
}
.link_list li a span{
    display: block;
    height: 30px;
    line-height: 30px;
    /* border: 1px solid black; */
}

.contents{
    width: 100%;
    height: 250px;
    /* background-color: yellowgreen; */
    padding: 10px;
}
.contents >div{
    float: left;
    height: 100%;
    width: 50%;
    padding: 20px;
    /* border: 1px solid green; */
}
.contents h2{
    font-size: 14px;
    background-color: #fff;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
}
.contents ul{
    background-color: #fff;
    height: 160px;
    padding: 10px;
}
.notice{}
.notice li{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dotted #ddd;
}
.notice li a{
    display: block;
    width: 70%;
    float: left;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.notice li span{
    float: right;

}

.gallery{
    width: 100%;
}
.gallery li{
    /* border: 1px solid red; */
    float: left;
    width: calc(100% / 3 );
    margin: 0 auto;
    height: 130px;
    padding-right: 5px;
}
.gallery li a{
    opacity: 0.5;
}
.gallery li a:hover{
    opacity: 1;
}
.gallery li a img{
    width: 100%;
    height: 100%;
}
.gallery li a span{
    font-size: 10px;
    display: block;
    text-align: center;
}

.footer{
    clear: both;
    width: 100%;
    height: 120px;
    background-color: #ddd;
}
.f_logo{
    float: left;
    width: 200px;
    height: 120px;
}

.f_center{
    float: left;
    width: calc(100% - 400px);
    height: 120px;
}

.f_menu{
    height: 60px;
    line-height: 60px;
}
.f_menu a:hover{
    text-decoration: underline;
}
.f_menu a::after{
    content: "|";
    display: inline-block;
    padding-left: 10px;
    color: #999;
}
.f_menu a:last-child::after{
    display: none;
}
.copy{
    height: 60px;
    line-height: 60px;
}
.family{
    float: right;
    width: 200px;
    height: 120px;
    /* border: 1px solid red; */
    padding: 20px;
}
.family select{
    padding: 10px;

}

.popup{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 5px solid blue;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    display: none;
}

.popup h3{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.popup p{
    text-align: justify;
    line-height: 2;
}

.popup .close{
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}